@import '../../styles/design-system.scss';

.hero-banner {
    background: linear-gradient(180deg, black 0%, black 70%, $white 70%, $white 100%); // Two tone background

    &__title {
        font-size: $size-2;
        line-height: 42px;
        max-width: 388px;
        color: $white;
        @include from($tablet) {
            font-size: $size-1;
            line-height: 82px;
            max-width: 655px;
        }
        @include until($desktop) {
            padding-bottom: 30px;
        }
    }

    &__text {
        max-width: 360px;
        align-self: flex-end;
        color: $white;
    }

    &__content {
        padding-bottom: 20px;
        @include from($desktop) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__image-container {
        margin: 0 auto;
        padding-top: 40px;
    }

    &__image { //this is for the image
        width: 100%; 
        height: 600px;
        border-radius: 40px;

    }
}